<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/landpage.css" />
    <link rel="stylesheet" type="text/css" href="css/landpageresponsive.css" />
    <title>Homepage IoTruck</title>
  </head>

  <body>
    <header>
      <div class="container">
        <a href="#main"><img src="../img/logo.svg" alt="Logo" /></a>        
          <nav class="soluctions-container">
            <a href="#soluctions" class="menu_link">Soluções</a>
          </nav>
          <nav class="btn-nav">
            <li>
              <a href="../login/index.html">Acesse</a>             
            </li>
            <li>
              <a href="#contact"><button id="button_login">Teste grátis</button></a>
            </li>
          </nav>       
      </div>
    </header>

    <main id="main">
      <div class="background-main">
        <div class="container-main">
          <section class="pages" id="initial_page">
            <div class="cover-desing">
                <h2>O melhor sistema de monitoramento de carga!</h2>
                <p>
                  Aqui nós focamos nos dados da sua carga para garantir maior qualidade.
                </p>
            </div>
            <a href="#contact"><button id="button_registrar">Teste grátis</button></a>
          </section>
        </div>
      </div>

      <section id="soluctions">
        <div class="container">
          <div class="soluctions-image-container">
            <h2> Maior visibilidade para sua logística </h2>
            <img src="../img/data.jpg" alt="Notebook com sistema rodando" />
          </div>
          <div class="problemns-cards">
            <div>
              <h3><strong> VIGIANDO SUA CARGA </strong></h3>
              <p>
                Com um painel de controle moderno e de fácil leitura mostraremos todos os dados da sua carga em tempo real.
              </p>
            </div>
            <div>
              <h3><strong> MELHOR APROVEITAMENTO DE TECNOLOGIAS </strong></h3>
              <p>
                Utilizamos tecnologias de ponta para controlar 
                o trafégo de sua frota e desta forma reduzir os custos operacionais.
              </p>
            </div>
            <div>
              <h3><strong> PERCURSO MAIS SEGURO </strong></h3>
              <p>
                Estamos de olho nos motoristas dos seus veículos e de prontidão para qualquer anormalidade que ocorra durante o percurso.
              </p>
            </div>
            <div>
              <h3><strong> ANÁLISE DE DADOS</strong></h3>
              <p>
                Atráves do uso de inteligência artificial analisamos os dados obtidos para aprimorar futuras entregas.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="branding">
        <div class="container">
          <h2>
            Transforme os dados dos seus veículos em conhecimento e potencialize os seus resultados
          </h2>
        </div>
      </section>

      <section id="best-solution">
        <div class="container">
          <h2>A melhor solução do mercado</h2>
          <div class="best-solution-grid-container">
            <div class="card">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  fill="#3A780C"
                  class="bi bi-truck"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                  />
                </svg>
              </div>
              <div>
                <h3>CONSUMO DE COMBUSTÍVEL</h3>
                <p>
                  Acompanhe o nível de combustível ao vivo para evitar contratempos.
                </p>
              </div>
            </div>

            <div class="card">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  fill="#3A780C"
                  class="bi bi-geo-alt"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                  />
                  <path
                    d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                  />
                </svg>
              </div>
              <div>
                <h3>LOCALIZAÇÃO EM TEMPO REAL</h3>
                <p>
                  Saiba onde estão seus veículos a todo momento e se eles estão
                  realizando as rotas de maneira correta.
                </p>
              </div>
            </div>
            <div class="card">
              <div>
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40" f
                  fill="#3A780C" 
                  class="bi bi-apple"
                  viewBox="0 0 16 16">
                  <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z"/>
                  <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z"/>
                </svg>
                
              </div>
              <div>
                <h3>MONITORAMENTO DA CARGA</h3>
                <p>
                  Mostraremos todos os dados necessários da sua carga como nível de gás,
                  temperatura e umidade.
                </p>
              </div>
            </div>
            <div class="card">
              <div>
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  width="40" height="40" 
                  fill="#3A780C" 
                  class="bi bi-shield-shaded" 
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 14.933a.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067v13.866zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                </svg>
              </div>
              <div>
                <h3> MAIOR SEGURANÇA </h3>
                <p>
                  Para maior segurança, utilizamos um botão de pânico integrado ao veículo,
                   caso haja algum incidente, seremos alertados.
                </p>
              </div>
            </div>
          <a href="#contact"><button class="test">Quero Testar</button></a>
        </div>
      </section>

      <section id="contact">
        <div id="contact-container">
          <h2> Fale com a gente! </h2>
          <p>
            Faça um teste grátis do nosso produto e comprove como
            podemos te ajudar.
          </p>

          <form id="form" action="#" method="post">
            <input
              id="name"
              name="name"
              type="text"
              required
              placeholder="Nome"
            />
            <input
              id="email"
              name="email"
              type="email"
              required
              placeholder="E-mail"
            />
            <input
              id="tel"
              name="tel"
              type="tel"
              required
              placeholder="Telefone"
            />            
            <fieldset>
              <legend>Quantidade de veículos</legend>
              <input
                type="radio"
                id="three"
                value="yes"
                name="1st edition"
                required
              />
              <label for="three">03 a 05</label>
              <input
                type="radio"
                id="six"
                value="no"
                name="1st edition"
                required
              />
              <label for="six">06 a 15</label>
              <input
                type="radio"
                id="sixteen"
                value="no"
                name="1st edition"
                required
              />
              <label for="sixteen">16 a 50</label>
              <input
                type="radio"
                id="fifty"
                value="no"
                name="1st edition"
                required
              />
              <label for="fifty"> Mais de 50</label>
            </fieldset>
            <input type="submit" value="Quero Testar" id="submit" />
          </form>
        </div>
      </section>
    </main>

    <footer>
      <div class="container_footer">
        <img src="../img/logo.svg" alt="Logo" />
        <div class="information_footer">
          <address id="contact_footer">
            <h3>Contato</h3>
            <p>contato@iotruck.com</p>
            <p>+55 55 99999-88888</p>
          </address>

          <address id="address_footer">
            <h3>Endereço</h3>
            <p>São Paulo, Brasil</p>
          </address>

          <nav id="social_network_footer">
            <h3>Nossas redes</h3>
            <div class="social_network_icons">
                <svg
                width="30"
                height="30"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M17.9065 0.842748C21.0345 0.698748 22.0318 0.666748 29.9998 0.666748C37.9678 0.666748 38.9652 0.701415 42.0905 0.842748C45.2158 0.984081 47.3492 1.48275 49.2158 2.20541C51.1705 2.94408 52.9438 4.09875 54.4105 5.59208C55.9038 7.05608 57.0558 8.82675 57.7918 10.7841C58.5172 12.6507 59.0132 14.7841 59.1572 17.9041C59.3012 21.0374 59.3332 22.0347 59.3332 30.0001C59.3332 37.9681 59.2985 38.9654 59.1572 42.0934C59.0158 45.2134 58.5172 47.3467 57.7918 49.2134C57.0558 51.171 55.9019 52.9446 54.4105 54.4107C52.9438 55.9041 51.1705 57.0561 49.2158 57.7921C47.3492 58.5174 45.2158 59.0134 42.0958 59.1574C38.9652 59.3014 37.9678 59.3334 29.9998 59.3334C22.0318 59.3334 21.0345 59.2987 17.9065 59.1574C14.7865 59.0161 12.6532 58.5174 10.7865 57.7921C8.82896 57.056 7.05536 55.9021 5.58917 54.4107C4.09685 52.9459 2.94201 51.1731 2.20517 49.2161C1.4825 47.3494 0.986504 45.2161 0.842504 42.0961C0.698504 38.9627 0.666504 37.9654 0.666504 30.0001C0.666504 22.0321 0.701171 21.0347 0.842504 17.9094C0.983837 14.7841 1.4825 12.6507 2.20517 10.7841C2.9431 8.82697 4.09882 7.05425 5.59184 5.58941C7.05594 4.09742 8.82776 2.9426 10.7838 2.20541C12.6505 1.48275 14.7838 0.986748 17.9038 0.842748H17.9065ZM41.8532 6.12275C38.7598 5.98141 37.8318 5.95208 29.9998 5.95208C22.1678 5.95208 21.2398 5.98141 18.1465 6.12275C15.2852 6.25341 13.7332 6.73075 12.6985 7.13341C11.3305 7.66675 10.3518 8.29875 9.32517 9.32542C8.35196 10.2722 7.60298 11.4248 7.13317 12.6987C6.7305 13.7334 6.25317 15.2854 6.1225 18.1467C5.98117 21.2401 5.95184 22.1681 5.95184 30.0001C5.95184 37.8321 5.98117 38.7601 6.1225 41.8534C6.25317 44.7147 6.7305 46.2668 7.13317 47.3014C7.6025 48.5734 8.35184 49.7281 9.32517 50.6748C10.2718 51.6481 11.4265 52.3974 12.6985 52.8668C13.7332 53.2694 15.2852 53.7468 18.1465 53.8774C21.2398 54.0188 22.1652 54.0481 29.9998 54.0481C37.8345 54.0481 38.7598 54.0188 41.8532 53.8774C44.7145 53.7468 46.2665 53.2694 47.3012 52.8668C48.6692 52.3334 49.6478 51.7014 50.6745 50.6748C51.6478 49.7281 52.3972 48.5734 52.8665 47.3014C53.2692 46.2668 53.7465 44.7147 53.8772 41.8534C54.0185 38.7601 54.0478 37.8321 54.0478 30.0001C54.0478 22.1681 54.0185 21.2401 53.8772 18.1467C53.7465 15.2854 53.2692 13.7334 52.8665 12.6987C52.3332 11.3307 51.7012 10.3521 50.6745 9.32542C49.7276 8.35227 48.575 7.60331 47.3012 7.13341C46.2665 6.73075 44.7145 6.25341 41.8532 6.12275V6.12275ZM26.2532 39.0427C28.3456 39.9138 30.6755 40.0313 32.845 39.3753C35.0144 38.7194 36.8889 37.3305 38.1481 35.4461C39.4074 33.5616 39.9733 31.2984 39.7493 29.043C39.5253 26.7877 38.5252 24.68 36.9198 23.0801C35.8965 22.0574 34.6591 21.2742 33.2967 20.7871C31.9344 20.3 30.481 20.121 29.0412 20.2631C27.6013 20.4051 26.2109 20.8646 24.97 21.6084C23.7291 22.3523 22.6685 23.3621 21.8646 24.565C21.0608 25.768 20.5337 27.1342 20.3212 28.5653C20.1088 29.9964 20.2162 31.4569 20.6359 32.8415C21.0556 34.2261 21.7771 35.5004 22.7484 36.5727C23.7197 37.645 24.9167 38.4886 26.2532 39.0427ZM19.3385 19.3387C20.7386 17.9387 22.4007 16.8281 24.23 16.0704C26.0592 15.3127 28.0198 14.9227 29.9998 14.9227C31.9798 14.9227 33.9404 15.3127 35.7697 16.0704C37.599 16.8281 39.2611 17.9387 40.6612 19.3387C42.0612 20.7388 43.1718 22.4009 43.9295 24.2302C44.6873 26.0595 45.0772 28.0201 45.0772 30.0001C45.0772 31.9801 44.6873 33.9407 43.9295 35.77C43.1718 37.5992 42.0612 39.2614 40.6612 40.6614C37.8336 43.489 33.9986 45.0775 29.9998 45.0775C26.0011 45.0775 22.1661 43.489 19.3385 40.6614C16.5109 37.8339 14.9224 33.9989 14.9224 30.0001C14.9224 26.0013 16.5109 22.1663 19.3385 19.3387V19.3387ZM48.4212 17.1681C48.7681 16.8408 49.0459 16.4472 49.238 16.0107C49.4301 15.5741 49.5327 15.1035 49.5396 14.6266C49.5466 14.1497 49.4578 13.6762 49.2785 13.2342C49.0992 12.7923 48.833 12.3908 48.4957 12.0535C48.1585 11.7163 47.757 11.4501 47.315 11.2708C46.873 11.0915 46.3996 11.0027 45.9227 11.0096C45.4458 11.0166 44.9751 11.1192 44.5386 11.3113C44.102 11.5034 43.7085 11.7811 43.3812 12.1281C42.7447 12.8028 42.3962 13.6991 42.4097 14.6266C42.4232 15.5541 42.7977 16.4398 43.4536 17.0957C44.1095 17.7516 44.9952 18.126 45.9227 18.1395C46.8502 18.1531 47.7464 17.8046 48.4212 17.1681V17.1681Z"
                  fill="#FFFFFF"
                />
              </svg>
              <svg
                width="30"
                height="30"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0.666505 5.56809C0.666505 4.26817 1.18289 3.0215 2.10207 2.10232C3.02125 1.18314 4.26792 0.666755 5.56784 0.666755H54.4265C55.0707 0.665702 55.7088 0.791722 56.3042 1.0376C56.8996 1.28348 57.4407 1.64438 57.8965 2.09965C58.3523 2.55492 58.7138 3.09562 58.9603 3.69078C59.2068 4.28594 59.3335 4.92389 59.3332 5.56809V54.4268C59.3339 55.0711 59.2075 55.7092 58.9614 56.3047C58.7152 56.9001 58.354 57.4412 57.8986 57.8969C57.4431 58.3526 56.9022 58.7141 56.3069 58.9606C55.7116 59.2071 55.0735 59.3338 54.4292 59.3334H5.56784C4.92396 59.3334 4.28639 59.2066 3.69156 58.9601C3.09673 58.7136 2.55629 58.3523 2.10113 57.8969C1.64596 57.4415 1.28499 56.9009 1.03883 56.3059C0.792673 55.7109 0.666154 55.0733 0.666505 54.4294V5.56809ZM23.8878 23.0348H31.8318V27.0241C32.9785 24.7308 35.9118 22.6668 40.3198 22.6668C48.7705 22.6668 50.7732 27.2348 50.7732 35.6161V51.1414H42.2212V37.5254C42.2212 32.7521 41.0745 30.0588 38.1625 30.0588C34.1225 30.0588 32.4425 32.9628 32.4425 37.5254V51.1414H23.8878V23.0348ZM9.22117 50.7761H17.7758V22.6668H9.22117V50.7734V50.7761ZM18.9998 13.4988C19.016 14.2312 18.8856 14.9595 18.6165 15.6409C18.3473 16.3223 17.9448 16.9431 17.4325 17.4668C16.9201 17.9906 16.3084 18.4067 15.6331 18.6908C14.9577 18.9749 14.2325 19.1212 13.4998 19.1212C12.7672 19.1212 12.0419 18.9749 11.3666 18.6908C10.6913 18.4067 10.0795 17.9906 9.56722 17.4668C9.0549 16.9431 8.65235 16.3223 8.3832 15.6409C8.11405 14.9595 7.98371 14.2312 7.99984 13.4988C8.0315 12.061 8.62486 10.6929 9.65287 9.68725C10.6809 8.68164 12.0618 8.11853 13.4998 8.11853C14.9379 8.11853 16.3188 8.68164 17.3468 9.68725C18.3748 10.6929 18.9682 12.061 18.9998 13.4988V13.4988Z"
                  fill="#FFFFFF"
                />
              </svg>
              <svg
                width="30"
                height="30"
                viewBox="0 0 64 64"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0 32.1787C0 48.088 11.5547 61.3173 26.6667 64V40.888H18.6667V32H26.6667V24.888C26.6667 16.888 31.8213 12.4453 39.112 12.4453C41.4213 12.4453 43.912 12.8 46.2213 13.1547V21.3333H42.1333C38.2213 21.3333 37.3333 23.288 37.3333 25.7787V32H45.8667L44.4453 40.888H37.3333V64C52.4453 61.3173 64 48.0907 64 32.1787C64 14.48 49.6 0 32 0C14.4 0 0 14.48 0 32.1787Z"
                  fill="#FFFFFF"
                />
              </svg>
            </div>            
           
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>