<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />

    <title> Entrar </title>
  </head>

  <body>
    <div id="main-container">
        <main id="login">            
            <img src="../img/logo.svg" alt="logo da empresa" />            
            <h1>Entrar</h1>
            <form action="">
              <fieldset class="label-float">
                  <input type="email" id="username" placeholder="E-mail" pattern="\S+.*">
                  <label for="email"> E-mail: </label>
              </fieldset>
              <fieldset class="label-float">
                  <input type="password" id="password" placeholder="Senha" pattern="\S+.*">
                  <label for="senha"> Senha: </label>
              </fieldset>
              <div class="submit">
                <button type="submit">Continue <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#3A780C" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                  </svg></button>
                
              </div>
            </form>
            <a href="../"><p>Voltar</p></a>
            <a href="../register"><p>Registre-se</p></a>
            <a href="../dashboard"><p>Dashboard</p></a>
          </main>    
    </div>    
        
  </body>
</html>